*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  overflow-x: hidden;
}
body {
  color: $black;
  text-align: center;
  padding: 70px;
  font-size: 1.6rem;
  min-height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.link {
  color: #1010fd;
  font-weight: 500;
  border-bottom: 1px solid #1010fd;
  cursor: pointer;
}
