*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 1.6rem;
  min-height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
input {
  height: 4rem;
}
input,
textarea {
  display: block;
  margin-top: 15px;
  border: 1px solid hsl(214, 100%, 26%);
  border-radius: 7px;
  padding: 0 10px;
  outline: none;
  width: 100%;
  resize: none;
  font-size: 1.6rem;
}
button {
  outline: none;
  border: 1px solid hsl(214, 100%, 26%);
  border-radius: 3px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(214, 100%, 26%);
  padding: 5px 15px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  font-size: 1.6rem;
}
button:hover {
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(214, 98%, 51%);
  background-color: hsl(214, 98%, 51%);
}
.link {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  border-bottom: 1px solid hsl(0, 0%, 100%);
  cursor: pointer;
}

@media screen and (min-width: 2150px) {
  html {
    font-size: 80%;
  }
}
