$white: #fff;
$black: #252525;

$poppins: 'Poppins', Avenir, Helvetica, Arial, sans-serif;
$pattaya: 'Pattaya', Avenir, Helvetica, Arial, sans-serif;

@mixin xxs {
  @media (max-width: 374px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin sm-tab {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tab {
  @media (max-width: 850px) {
    @content;
  }
}

@mixin mdh {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: 1600px) {
    @content;
  }
}
